In [1]:
import warnings
import itertools
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')
import pandas as pd
import statsmodels.api as sm
import matplotlib
matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'k'

In [2]:
import xlrd
df = pd.read_excel("Registrants.xls")

In [3]:
df.head()

     REGDATE P_CLIENTCODE  Client ID  REGISTRANTS
0 2015-01-01          AAP     2218.0           12
1 2015-01-02          AAP     2218.0           14
2 2015-01-03          AAP     2218.0            9
3 2015-01-04          AAP     2218.0            6
4 2015-01-05          AAP     2218.0           11

In [4]:
df['REGDATE'].min(), df['REGDATE'].max()

(Timestamp('2015-01-01 00:00:00'), Timestamp('2019-10-07 00:00:00'))

In [5]:
df.shape

(65535, 4)

In [6]:
df.dtypes

REGDATE         datetime64[ns]
P_CLIENTCODE            object
Client ID              float64
REGISTRANTS              int64
dtype: object

In [9]:
# Make a cols variable to remove columns that we do not need
cols = ['P_CLIENTCODE','Client ID']

In [10]:
df.drop(cols, axis=1, inplace=True)

In [ ]:
df = df.sort_values('REGDATE')

In [11]:
df.isnull().sum()

REGDATE        0
REGISTRANTS    0
dtype: int64

In [12]:
df = df.groupby('REGDATE')['REGISTRANTS'].sum().reset_index()

In [13]:
df.head()

     REGDATE  REGISTRANTS
0 2015-01-01           42
1 2015-01-02           55
2 2015-01-03           47
3 2015-01-04           39
4 2015-01-05           62

In [14]:
df = df.set_index('REGDATE')
df.index

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2019-09-28', '2019-09-29', '2019-09-30', '2019-10-01',
               '2019-10-02', '2019-10-03', '2019-10-04', '2019-10-05',
               '2019-10-06', '2019-10-07'],
              dtype='datetime64[ns]', name='REGDATE', length=1741, freq=None)