In [13]:
import warnings
import itertools
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')
import pandas as pd
import statsmodels.api as sm
import matplotlib
matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'k'

In [15]:
import xlrd
df = pd.read_excel("Registrants.xls")

In [16]:
df.head()

     REGDATE P_CLIENTCODE  Client ID  REGISTRANTS
0 2015-01-01          AAP     2218.0           12
1 2015-01-02          AAP     2218.0           14
2 2015-01-03          AAP     2218.0            9
3 2015-01-04          AAP     2218.0            6
4 2015-01-05          AAP     2218.0           11

In [ ]:
df['REGDATE'].min(), df['REG']