In [1]:
import warnings
import itertools
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')
import pandas as pd
import statsmodels.api as sm
import matplotlib
matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'k'

In [2]:
import xlrd
df = pd.read_excel("Registrants.xls")

In [3]:
df.head()

     REGDATE P_CLIENTCODE  Client ID  REGISTRANTS
0 2015-01-01          AAP     2218.0           12
1 2015-01-02          AAP     2218.0           14
2 2015-01-03          AAP     2218.0            9
3 2015-01-04          AAP     2218.0            6
4 2015-01-05          AAP     2218.0           11

In [4]:
df['REGDATE'].min(), df['REGDATE'].max()

(Timestamp('2015-01-01 00:00:00'), Timestamp('2019-10-07 00:00:00'))

In [5]:
df.shape

(65535, 4)

In [6]:
df.dtypes

REGDATE         datetime64[ns]
P_CLIENTCODE            object
Client ID              float64
REGISTRANTS              int64
dtype: object

In [7]:
# Make a cols variable to remove columns that we do not need
cols = ['P_CLIENTCODE','Client_ID']

In [ ]:
df.drop(cols, axis=1, inplace=True)

In [ ]:
df = df.sort_values('REGDATE')