In [5]:
import warnings
import itertools
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')
import pandas as pd
import statsmodels.api as sm
import matplotlib
matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'k'

In [8]:
df = pd.read_csv('Registrants.csv')

In [10]:
df.head()

    REGDATE P_CLIENTCODE  Client ID  REGISTRANTS
0  1-Jan-15          AAP     2218.0           12
1  2-Jan-15          AAP     2218.0           14
2  3-Jan-15          AAP     2218.0            9
3  4-Jan-15          AAP     2218.0            6
4  5-Jan-15          AAP     2218.0           11